.card{
    height: 330px;
    width: 200px;
    background-color:#ffff;
    border-radius: 20px;
    box-shadow: black;
    margin-top: 70px;
    
}
.body{
    background-color:
    margin-top: 0px;
}
.name{
background-color:
    margin-top: 0px;
    padding-top: ;
}
img{
    height: 103px;
    
   margin-top: 30PX;
    
   width: 90px ;
   border-radius: 5%;
   
}
.div1{
    padding-top: 10px;
    height: 80px;
    width: 200px;
    background-color: rgb(184, 3, 3);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
   
}
.div2{
    
    
    height: 8px;
    width: 35%;
    background-color:black;
    border-radius: 10px;
}
.div1 h3{
    color: #ffff;
    font-family: 'Times New Roman', Times, serif;
}
.add{
    font-size: 10px;
}
.name h3{
    margin: 0;
}
.subtitle{
    margin: 0;
}
